<!DOCTYPE html>
<html>
<title>Fake News Detector</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link ref='stylesheet' href="{{ url_for('static', filename='css/style.css')}}">
<style>
html, body, h1, h2, h3, h4, h5 {font-family: "Open Sans", sans-serif}
</style>
    
    
<body class="w3-theme-l5">
    <h1 style="text-align:center">Fake News Detector</h1>
    
    <form action="{{ url_for('predict')}}" method='post'>
      <div class="w3-row-padding">
        <div class="w3-col m15">
          <div class="w3-card w3-round w3-white">
            <div class="w3-container w3-padding" style="text-align:center">
              <input type="text" class="w3-border w3-padding" name="news" placeholder="Enter the news url" required="required" size="120" />
                <br>
                <br>
              <button type="submit" class="w3-button w3-theme">Predict</button> 
              <br>
              <br>
              {{ prediction_text }}
            </div>
          </div>
        </div>
      </div>
    </form>

</body>
</html> 